.burger{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: black;
}

.burger_item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 6px;
    background-color: white;
    transition: 0.5s;
}

.burger_item::before, .burger_item::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: white;
    transition: 0.5s;
}

.burger_item::before{
    top: -16px;
}

.burger_item::after{
    top: 16px;
}

.burger_active .burger_item{
    background: transparent;
}

.burger_active .burger_item::before{
    top: 0;
    transform: rotate(45deg);
}

.burger_active .burger_item::after{
    top: 0;
    transform: rotate(135deg);
}

.burger_list{
    display: none;
    height: 80px;
    width: 150px;
    padding: 0;
    margin: 0;
    background-color: black;
    text-align: center;
}

.burger_list ul{
    margin-top: 30px;
    list-style-type: none;
    font-size: 20px;
    color: white;
}

.burger_list li{
    margin-top: 5px;
}